/*Создание адаптивных макетов для любого размера экрана*/
@media (max-width: 600px) {
    .left, .right {
        width: 100%; /* Каждый элемент растягивается от края до края */
    }
}

/* Медиазапрос для экранов шириной до 768px (планшеты и мобильные устройства) */
@media (max-width: 768px) {
    .mainContainer {
        flex-direction: column;
        gap: 10px;
    }

    .interestsBox {
        width: 100%;
    }

    .yourInfoName, .yourInfoRole {
        width: 100%;
    }

    .educationBoxContainer,
    .extraBoxContainer {
        width: 100%;
        height: auto;
    }

    .button-container {
        width: 100%;
        text-align: center;
    }

    .ripple-button {
        width: 100%;
        padding: 10px;
    }

    .yourInfoContainer {
        align-items: center;
    }

    .jobItem,
    .educationList {
        width: 100%;
    }

    .experienceBoxContainer,
    .toolsBoxContainer {
        width: 100%;
        flex: 1 1 60%;
    }

    #toolsBox0, #toolsBox1, #toolsBox2 {
        width: 100%;
        gap: 30px;
        height: auto;
    }

    .subTitleBlock {
        width: 30%;
    }

    .logoTools {
        transform: scale(1.2);
    }

    .footerContainer {
        flex-direction: column;
        gap: 10px;
    }

    .disclaimer {
        width: 100%;
    }
}
